# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

Supprimerait .idea/.gitignore
Supprimerait .idea/2tl2AdminGr10.iml
Supprimerait .idea/misc.xml
Supprimerait .idea/modules.xml
Supprimerait .idea/vcs.xml
